<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.mapper.ApprovalMapper" >
<select id="countAll" resultType="Integer">
	select count(*) from <include refid="elements"/> <include refid="jugeuid"/>
</select>
<select id="selectAll" resultType="com.woniuxy.bean.ApprovalEntity">
	select * from <include refid="elements"/> <include refid="jugeuid"/>  limit #{pageIndex},#{pageSize}
</select>
<sql id = "jugeuid">
	<where>
		<if test="uid !=0"> 
			and uid = #{uid}
		</if>
		<if test="1==1">
			and flag = 0
		</if>
	</where>
</sql>
  <sql id="elements">
  (select oid  id,uid,apid,aptid,begintime `begin`,endtime `end`,
	description as reason,null as ltid,null digest,null amount ,flag from overtime 
union all
select lid,uid,apid,aptid,startdate,enddate,reason, ltid,null,null,flag from `leaves`
union all 
select aid,uid,apid,aptid,null,null,title,null,digest,null,flag from announcement
union all 
select gid, uid,apid,aptid,gdate,null,greason,null,gname,null,flag from getgoods 
union all 
select bid, uid,apid,aptid,bdate,null,breason,null,bname,null,flag from buygoods 
union all 
select appid,uid,apid,aptid,apptime,null,reason,null,item,amount,flag from apply )as total
  </sql>
</mapper>