<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.mapper.LeavesMapper" >
  <resultMap id="BaseResultMap" type="com.woniuxy.entity.Leaves" >
    <id column="lid" property="lid" jdbcType="INTEGER" />
    <result column="ltid" property="ltid" jdbcType="INTEGER" />
    <result column="startdate" property="startdate" jdbcType="TIMESTAMP" />
    <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="apid" property="apid" jdbcType="INTEGER" />
    <result column="aptid" property="aptid" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    lid, ltid, startdate, enddate, reason, uid, apid, aptid, flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniuxy.entity.LeavesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from leaves
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from leaves
    where lid = #{lid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from leaves
    where lid = #{lid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniuxy.entity.LeavesExample" >
    delete from leaves
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniuxy.entity.Leaves" >
    insert into leaves (lid, ltid, startdate, 
      enddate, reason, uid, 
      apid, aptid, flag)
    values (#{lid,jdbcType=INTEGER}, #{ltid,jdbcType=INTEGER}, #{startdate,jdbcType=TIMESTAMP}, 
      #{enddate,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{apid,jdbcType=INTEGER}, #{aptid,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.entity.Leaves" >
    insert into leaves
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        lid,
      </if>
      <if test="ltid != null" >
        ltid,
      </if>
      <if test="startdate != null" >
        startdate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="apid != null" >
        apid,
      </if>
      <if test="aptid != null" >
        aptid,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="ltid != null" >
        #{ltid,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="apid != null" >
        #{apid,jdbcType=INTEGER},
      </if>
      <if test="aptid != null" >
        #{aptid,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniuxy.entity.LeavesExample" resultType="java.lang.Integer" >
    select count(*) from leaves
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update leaves
    <set >
      <if test="record.lid != null" >
        lid = #{record.lid,jdbcType=INTEGER},
      </if>
      <if test="record.ltid != null" >
        ltid = #{record.ltid,jdbcType=INTEGER},
      </if>
      <if test="record.startdate != null" >
        startdate = #{record.startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enddate != null" >
        enddate = #{record.enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.apid != null" >
        apid = #{record.apid,jdbcType=INTEGER},
      </if>
      <if test="record.aptid != null" >
        aptid = #{record.aptid,jdbcType=INTEGER},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update leaves
    set lid = #{record.lid,jdbcType=INTEGER},
      ltid = #{record.ltid,jdbcType=INTEGER},
      startdate = #{record.startdate,jdbcType=TIMESTAMP},
      enddate = #{record.enddate,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      apid = #{record.apid,jdbcType=INTEGER},
      aptid = #{record.aptid,jdbcType=INTEGER},
      flag = #{record.flag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.entity.Leaves" >
    update leaves
    <set >
      <if test="ltid != null" >
        ltid = #{ltid,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        startdate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="apid != null" >
        apid = #{apid,jdbcType=INTEGER},
      </if>
      <if test="aptid != null" >
        aptid = #{aptid,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.entity.Leaves" >
    update leaves
    set ltid = #{ltid,jdbcType=INTEGER},
      startdate = #{startdate,jdbcType=TIMESTAMP},
      enddate = #{enddate,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      apid = #{apid,jdbcType=INTEGER},
      aptid = #{aptid,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where lid = #{lid,jdbcType=INTEGER}
  </update>
</mapper>