<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.mapper.SigninMapper" >
  <resultMap id="BaseResultMap" type="com.woniuxy.entity.Signin" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="signintime" property="signintime" jdbcType="TIMESTAMP" />
    <result column="signbacktime" property="signbacktime" jdbcType="TIMESTAMP" />
    <result column="uip" property="uip" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="did" property="did" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, signintime, signbacktime, uip, uid, did
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniuxy.entity.SigninExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from signin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from signin
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from signin
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniuxy.entity.SigninExample" >
    delete from signin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniuxy.entity.Signin" >
    insert into signin (sid, signintime, signbacktime, 
      uip, uid, did)
    values (#{sid,jdbcType=INTEGER}, #{signintime,jdbcType=TIMESTAMP}, #{signbacktime,jdbcType=TIMESTAMP}, 
      #{uip,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.entity.Signin" >
    insert into signin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="signintime != null" >
        signintime,
      </if>
      <if test="signbacktime != null" >
        signbacktime,
      </if>
      <if test="uip != null" >
        uip,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="did != null" >
        did,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="signintime != null" >
        #{signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="signbacktime != null" >
        #{signbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="uip != null" >
        #{uip,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniuxy.entity.SigninExample" resultType="java.lang.Integer" >
    select count(*) from signin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update signin
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.signintime != null" >
        signintime = #{record.signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signbacktime != null" >
        signbacktime = #{record.signbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uip != null" >
        uip = #{record.uip,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.did != null" >
        did = #{record.did,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update signin
    set sid = #{record.sid,jdbcType=INTEGER},
      signintime = #{record.signintime,jdbcType=TIMESTAMP},
      signbacktime = #{record.signbacktime,jdbcType=TIMESTAMP},
      uip = #{record.uip,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      did = #{record.did,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.entity.Signin" >
    update signin
    <set >
      <if test="signintime != null" >
        signintime = #{signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="signbacktime != null" >
        signbacktime = #{signbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="uip != null" >
        uip = #{uip,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.entity.Signin" >
    update signin
    set signintime = #{signintime,jdbcType=TIMESTAMP},
      signbacktime = #{signbacktime,jdbcType=TIMESTAMP},
      uip = #{uip,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      did = #{did,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  
  
   <!-- 分页查找用户id签到信息 --> 
  <select id="selectPageBean" resultMap="signMapper">
  	select * from signin 
  	<where>
  		<if test="uid != null and uid != 0">
  		uid=#{uid}
  		</if>
  	</where>
  	limit #{pageIndex},#{pageSize};
  </select>
  
  <!-- 根据日期分页查找考勤信息 --> 
  <select id="findAttend" resultMap="signMapper">
  	select * from signin where
  	DATE(signintime) BETWEEN DATE(#{signInStr}) AND DATE(#{signOutStr})
  	
  		<if test="uid != null and uid != 0">
  		AND uid=#{uid}
  		</if>
  	 limit #{pageIndex},#{pageSize};
  </select>
  
  
  <!-- 根据用户id查签到信息 -->
  <select id="selectSigninByUid" resultMap="signMapper">
  	select * from signin where uid=#{uid} and DATE(signintime)=DATE(NOW());
  </select>
  
  <resultMap type="Signin" id="signMapper">
  	<id column="sid" property="sid"/>
  	<association property="userinfo" javaType="Userinfo" select="selectUser" column="uid"/>
  </resultMap>
  
  <select id="selectUser" resultType="Userinfo">
  	select * from userinfo where uid=#{uid};
  </select>
  
  <insert id="insertSignin" parameterType="com.woniuxy.entity.Signin" >
    insert into signin (signintime, uip, uid, did)
    values (#{signintime,jdbcType=TIMESTAMP},   #{uip,jdbcType=VARCHAR}, 
    #{uid,jdbcType=INTEGER}, (select did from userinfo where uid=#{uid}))
  </insert>
  
   
   <update id="updateSignOut" parameterType="com.woniuxy.entity.Signin" >
    update signin
    set signbacktime = #{date}      
    where sid = #{sid}
  </update>
  
</mapper>