<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<title>报销管理</title>
<script type="text/javascript">
    function operation(){
        alert("亲,该功能正在开发中");
        }
</script>
</head>
<body>
<input type="hidden" id="role" th:value="${session.role}"/>
<div class="container" style="width: 100%;padding: 25px 15px;">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding: 20px;">
            <div style="float: left;">
                  <input type="button" class="btn btn-primary btn" onclick="applyaddHTML('add')" value="添加" />
            </div>
            <form action="#" method="post" id="userForm" role="form" class="form-inline" style="float: right;margin-bottom: 10px;">
                <div class="form-group" style="margin-right: 20px;">
                     <label for="exampleInputEmail1" style="margin-right: 10px;">姓名</label><input type="text" class="form-control" id="condition" name="condition" th:value="${condition}"/>
                </div>
                <button type="button" class="btn btn-primary btn" onclick="conditionQuery()">查询</button>
            </form>
            <table class="table table-bordered" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="width: 150px;">姓名</th>
                        <th>报销项目名称</th>
                        <th>计价单位</th>
                        <th>报销项目单价</th>
                        <th>审批状态</th>
                        <th style="width: 150px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                	<tr class="success" th:each="apply:${applyUser.applys}">
                        <span th:each="userinfo:${applyUser.user}" th:if="${apply.uid == userinfo.uid}">
	                     	<td>[[${userinfo.uname}]]</td>
	                        <td>[[${apply.item}]]</td>
	                        <td>元</td>
	                        <td>[[${apply.amount}]]</td>
	                        <td th:if="${apply.apid}==0">未审批</td>
	                        <td th:if="${apply.apid}==1">审批已通过</td>
	                        <td th:if="${apply.apid}==2">审批已驳回</td>
	                        <td th:if="${apply.apid}==0">
	                           <a href="#" class="btn btn-primary btn" th:onclick="applyaddHTML('modify',[[${apply}]],[[${userinfo.uname}]],[[${session.role}]])">修改</a>
	                           <a href="#" class="btn btn-primary btn" th:onclick="javascript:location.href='/apply/remove?appid=[[${apply.appid}]]'">删除</a>
	                        </td>
	                        <td th:if="${apply.apid}!=0">
	                           <span th:if="${apply.apid}==1">通过</span>
	                           <span th:if="${apply.apid}==2">驳回</span>
	                        </td> 
                        </span>
                    </tr>
                </tbody>
            </table>
            <div>
            	<span style="float: left;font-size: 16px;"> 一共[[${applyUser.count}]]条记录 共[[${applyUser.totalPage}]]页 当前第[[${applyUser.pageIndex}]]页</span>
            	<span th:if="${applyUser.totalPage!=0}" style="float: right;margin-right: 100px;font-size: 16px;">
	            	<a th:if="${applyUser.pageIndex>1}" th:href="${applyUser.url}+${1}">首页</a>
					<a th:if="${applyUser.pageIndex>1}" th:href="${applyUser.url}+${applyUser.pageIndex-1}">上一页</a>
					<span th:each="i:${#numbers.sequence(applyUser.beginPage,applyUser.endPage)}">
						<a th:if="${applyUser.pageIndex != i}" th:href="${applyUser.url}+${i}">[[${i}]]</a>
						<span th:if="${applyUser.pageIndex == i}"><span>[</span>[[${i}]]<span>]</span></span>
					</span>
					<a th:if="${applyUser.pageIndex<applyUser.totalPage}" th:href="${applyUser.url}+${applyUser.pageIndex+1}">下一页</a>
	            	<a th:if="${applyUser.pageIndex<applyUser.totalPage}" th:href="${applyUser.url}+${applyUser.totalPage}">末页</a>
            	</span>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/applyadd.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
function conditionQuery(){
	var role = $("#role").val();
	if(role=="admin"){
		var condition = $("#condition").val();
		alert(condition)
		location.href="/apply/queryAll/"+condition+"/1";
	}else{
		alert("你没有权限!");
	}
}
</script>
</html>