<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<title>审批管理</title>
</head>
<body>
<input type="hidden" id = "uid" value="1"/>
<div class="container" style="width: 100%;padding: 25px 15px;">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding: 20px;">
        <form action="#" method="post">
            <table class="table table-bordered" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="width: 150px;">姓名</th>
                        <th style="width: 150px;">审批类型</th>
                        <th>描述</th>
                        <th style="display:none">关联表id</th>
                        <th style="width: 100px;">操作</th>
                    </tr>
                </thead>
                <tbody  >
            		<tr th:each="element:${approvals.elements}">
                        <span th:each="user:${approvals.users}">
                        	<td th:if="${user.uid eq element.uid}">[[${user.uname}]]</td>
                        </span>
                        <td>[[${approvals.atypes[element.aptid-1].aptype}]]</td>
                        <td th:if="${element.aptid==3}">报销物品：[[${element.digest}]]</td>
                        <td th:if="${element.aptid==5 or element.aptid == 4}">申请物品：[[${element.digest}]]</td>
                        <td th:if="${element.aptid !=5 and element.aptid != 4 and element.aptid!=3}">[[${element.reason}]]</td>
                        <td>
                            <a href="#" th:onclick="detailHtml([[${element.id}]],[[${element}]],[[${element.aptid}]])" class="btn btn-primary btn">详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>
                        <div  th:if="${approvals.totalPage>0}">
	            <span style="float: left;font-size: 16px;"> 一共[[${approvals.pageCount}]]条记录 共[[${approvals.totalPage}]]页 当前第[[${approvals.pageIndex}]]页</span>
				<span style="float: right;font-size: 16px;margin-right: 100px" >
					<a th:if="${approvals.pageIndex>1 and approvals.totalPage!=0}" th:href="${approvals.url}+${1}">首页</a>
					<a th:if="${approvals.pageIndex-1>0 and  approvals.totalPage!=0}" th:href="${approvals.url}+${approvals.pageIndex-1}">上一页</a>
					<span th:each="i:${#numbers.sequence(approvals.startPage,approvals.endPage)}">
						<a th:if="${approvals.pageIndex != i and approvals.totalPage!=0}" th:href="${approvals.url}+${i}">[[${i}]]</a>
						<span th:if="${approvals.pageIndex == i}"><span>[</span>[[${i}]]<span>]</span></span>
					</span>
					<a th:if="${approvals.pageIndex+1<= approvals.totalPage and  approvals.totalPage!=0}" th:href="${approvals.url}+${approvals.pageIndex+1}">下一页</a>
					<a th:if="${approvals.pageIndex<approvals.totalPage and approvals.totalPage!=0}" th:href="${approvals.url}+${approvals.totalPage}">末页</a>
				</span>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/examine.js}"></script>
</body>
</html>