<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />

<title>请假管理</title>
<script type="text/javascript">
	function operation(){
	    alert("亲,该功能正在开发中");
	    }
</script>
</head>
<body>
<!--<input type="hidden" id="uid" th:value="${leaves.userinfo.uid}">用于存储登录用户的uid  -->
<div class="container" style="width: 100%;padding: 25px 15px;">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding: 20px;">
            <div style="float: left;">
                  <input type="button" class="btn btn-primary btn" onclick="leaveHTML(null,'add')" value="添加" />
            </div>
            <form action="#" method="post" id="userForm" role="form" class="form-inline" style="float: right;margin-bottom: 10px;">
                <div class="form-group" style="margin-right: 20px;">
                     <label for="exampleInputEmail1" style="margin-right: 10px;">姓名</label>
                     <input type="text" class="form-control" id="realName" name="realName" placeholder="姓名" value="123"/>
                </div>
                <a type="button" class="btn btn-primary btn" th:href="@{/leave/query/null/1}">查询</a>
            </form>
            <table class="table table-bordered" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>请假类型</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>请假原因</th>
                        <th>审批状态</th>
                        <th style="width: 150px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="leave:${leaves.leaves}">
                	<span th:each="user:${leaves.users}">
                	  <td th:if="${user.uid eq leave.uid}">[[${user.uname}]]</td>
                	</span>
                	 <td>[[${leaves.types[(leave.ltid-1)].type}]]</td>
                	<td>[[${#dates.format(leave.startdate,"yyyy-MM-dd HH:mm:ss")}]]</td>
                	<td>[[${#dates.format(leave.enddate,"yyyy-MM-dd HH:mm:ss")}]]</td>
                	<td>[[${leave.reason}]]</td>
					<td>[[${leaves.states[leave.apid].apstate}]]</td>          	
                	<td>
                           <a href="#" class="btn btn-primary btn" th:onclick="leaveHTML(null,null,[[${leave}]])">修改</a>
                           <a href="#" class="btn btn-primary btn" th:onclick="javascript:location.href='/leave/remove?lid=[[${leave.lid}]]&uid=[[${leave.uid}]]'">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div  th:if="${leaves.totalPage>0}">
	            <span style="float: left;font-size: 16px;"> 一共[[${leaves.pageCount}]]条记录 共[[${leaves.totalPage}]]页 当前第[[${leaves.pageIndex}]]页</span>
				<span style="float: right;font-size: 16px;margin-right: 100px" >
					<a th:if="${leaves.pageIndex>1 and leaves.totalPage!=0}" th:href="${leaves.url}+${1}">首页</a>
					<a th:if="${leaves.pageIndex-1>0 and  leaves.totalPage!=0}" th:href="${leaves.url}+${leaves.pageIndex-1}">上一页</a>
					<span th:each="i:${#numbers.sequence(leaves.startPage,leaves.endPage)}">
						<a th:if="${leaves.pageIndex != i and leaves.totalPage!=0}" th:href="${leaves.url}+${i}">[[${i}]]</a>
						<span th:if="${leaves.pageIndex == i}"><span>[</span>[[${i}]]<span>]</span></span>
					</span>
					<a th:if="${leaves.pageIndex+1<= leaves.totalPage and  leaves.totalPage!=0}" th:href="${leaves.url}+${leaves.pageIndex+1}">下一页</a>
					<a th:if="${leaves.pageIndex<leaves.totalPage and leaves.totalPage!=0}" th:href="${leaves.url}+${leaves.totalPage}">末页</a>
				</span>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/leave.js}"></script>
<script type="text/javascript" th:src="@{/js/laydate/laydate.js}"></script>
<script type="text/javascript">
$(function(){
	alert(document.getElementsById("realName").value )
})
</script>
</html>