<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<style type="text/css">
table td {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
</style>
<title>我的通知公告</title>
</head>
<body>
	<input type="hidden" id="fla" th:value="${fla}">
	<div class="container" style="width: 100%; padding: 25px 15px;">
		<div class="row clearfix">
			<div class="col-md-12 column"
				style="padding: 20px; padding-top: 0px;">
				<ul id="noticeTab" class="nav nav-tabs">
					<li class="active"><a id="sendA" href="#publishNotice" data-toggle="tab">发布的公告</a></li>
					<li><a id="receiveA" href="#receivePublish" data-toggle="tab">接收的公告</a></li>
				</ul>
				<div id="noticeTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="publishNotice">
						<table class="table table-bordered" style="margin-top: 20px;">
							<thead>
								<tr>
									<th>序号</th>
									<th style="width: 300px;">标题</th>
									<th>内容</th>
									<th style="width: 100px;">状态</th>
									<th style="width: 100px;">操作</th>
								</tr>
							</thead>
							<tbody id="publishTable">
								<tr th:each="announcement,announcementStat:${allAnnouncements.send}">
									<td>[[${announcementStat.count}]]</td>
									<td>[[${announcement.title}]]</td>
									<td>[[${announcement.digest}]]</td>
									<td th:if="${announcement.apid==0}">未审核</td>
									<td th:if="${announcement.apid==1}">已审核</td>
									<td th:if="${announcement.apid==0}"><a th:href="@{'/announcement/getAnnouncement?aid='+${announcement.aid}}"
										class="btn btn-primary btn">修改</a></td>
									<td th:if="${announcement.apid==1}"><span> </span></td>
								</tr>
							</tbody>
						</table>
						<div id="publishPage"></div>
						<div>
							<span style="float: left;font-size: 16px;"> 一共[[${allAnnouncements.sendCount}]]条记录 共[[${allAnnouncements.sendTotalPage}]]页 当前第[[${allAnnouncements.sendPageIndex}]]页</span>
			            	<span th:if="${allAnnouncements.receiveTotalPage!=0}" style="float: right;margin-right: 100px;font-size: 16px;">
				            	<a th:if="${allAnnouncements.sendPageIndex>1}" th:href="${allAnnouncements.url}+${1}+'/'+${allAnnouncements.receivePageIndex}+'/'+${1}">首页</a>
								<a th:if="${allAnnouncements.sendPageIndex>1}" th:href="${allAnnouncements.url}+${allAnnouncements.sendPageIndex-1}+'/'+${allAnnouncements.receivePageIndex}+'/'+${1}">上一页</a>
								<span th:each="i:${#numbers.sequence(allAnnouncements.sendBeginPage,allAnnouncements.sendEndPage)}">
									<a th:if="${allAnnouncements.sendPageIndex != i}" th:href="${allAnnouncements.url}+${i}+'/'+${allAnnouncements.receivePageIndex}+'/'+${1}">[[${i}]]</a>
									<span th:if="${allAnnouncements.sendPageIndex == i}"><span>[</span>[[${i}]]<span>]</span></span>
								</span>
								<a th:if="${allAnnouncements.sendPageIndex<allAnnouncements.sendTotalPage}" th:href="${allAnnouncements.url}+${allAnnouncements.sendPageIndex+1}+'/'+${allAnnouncements.receivePageIndex}+'/'+${1}">下一页</a>
				            	<a th:if="${allAnnouncements.sendPageIndex<allAnnouncements.sendTotalPage}" th:href="${allAnnouncements.url}+${allAnnouncements.sendTotalPage}+'/'+${allAnnouncements.receivePageIndex}+'/'+${1}">末页</a>
			            	</span>
						</div>
					</div>
					<div class="tab-pane fade" id="receivePublish">
						<table class="table table-bordered" style="margin-top: 20px;">
							<thead>
								<tr>
									<th>序号</th>
									<th style="width: 300px;">标题</th>
									<th>内容</th>
									<th style="width: 100px;">发布人</th>
								</tr>
							</thead>
							<tbody id="receiveTable">
								<tr th:each="accept,acceptStat:${allAnnouncements.accepts}">
									<td>[[${acceptStat.count}]]</td>
									<td>[[${allAnnouncements.receive[acceptStat.index].title}]]</td>
									<td>[[${allAnnouncements.receive[acceptStat.index].digest}]]</td>
									<td th:each="user:${allAnnouncements.userinfo}" th:if="${user.uid eq accept.uid}">[[${user.uname}]]</td>
								</tr>
							</tbody>
						</table>
						<div id="receivePage"></div>
						<div>
							<span style="float: left;font-size: 16px;"> 一共[[${allAnnouncements.receiveCount}]]条记录 共[[${allAnnouncements.receiveTotalPage}]]页 当前第[[${allAnnouncements.receivePageIndex}]]页</span>
			            	<span th:if="${allAnnouncements.receiveTotalPage!=0}" style="float: right;margin-right: 100px;font-size: 16px;">
				            	<a th:if="${allAnnouncements.receivePageIndex>1}" th:href="${allAnnouncements.url}+${allAnnouncements.sendPageIndex}+'/'+${1}+'/'+${2}">首页</a>
								<a th:if="${allAnnouncements.receivePageIndex>1}" th:href="${allAnnouncements.url}+${allAnnouncements.sendPageIndex}+'/'+${allAnnouncements.receivePageIndex-1}+'/'+${2}">上一页</a>
								<span th:each="i:${#numbers.sequence(allAnnouncements.receiveBeginPage,allAnnouncements.receiveEndPage)}">
									<a th:if="${allAnnouncements.receivePageIndex != i}" th:href="${allAnnouncements.url}+${allAnnouncements.sendPageIndex}+'/'+${i}+'/'+${2}">[[${i}]]</a>
									<span th:if="${allAnnouncements.receivePageIndex == i}"><span>[</span>[[${i}]]<span>]</span></span>
								</span>
								<a th:if="${allAnnouncements.receivePageIndex<allAnnouncements.receiveTotalPage}" th:href="${allAnnouncements.url}+${allAnnouncements.sendPageIndex}+'/'+${allAnnouncements.receivePageIndex+1}+'/'+${2}">下一页</a>
				            	<a th:if="${allAnnouncements.receivePageIndex<allAnnouncements.receiveTotalPage}" th:href="${allAnnouncements.url}+${allAnnouncements.sendPageIndex}+'/'+${allAnnouncements.receiveTotalPage}+'/'+${2}">末页</a>
			            	</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/notice.js}"></script>
<script type="text/javascript">
$(function(){
	var fla = $("#fla").val();
	change(fla);
})
function change(fla){
	if(fla==1){
		$("#sendA").click();
	}else{
		$("#receiveA").click();
	}
}
</script>
</html>