<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" /> -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<title>新增用户</title>
<style type="text/css">
	.inputText{width: 430px !important;}
	.rowDiv{margin-bottom: 15px;}
	.form-lavel{width: 80px;text-align: right;}
</style>
</head>
<body>
	<div class="container" style="width: 100%;padding: 25px 15px;">
		<div class="row clearfix">
			<div class="col-md-12 column" style="padding: 20px;padding-top: 0px;">
				<form action="/system/userinfoByPage" method="post" id="userForm" enctype="multipart/form-data" role="form" class="form-inline" style="margin-bottom: 10px;">
					<div id="userInfoDiv" class="form" style="padding:5px;">
						<div class="row rowDiv">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="account">账号：</label>
										<input type="hidden" name="id" value="${user.id }"/>
									<input type="text" class="form-control inputText" th:value="${userinfos.uname}" disabled="disabled">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="realName">姓名：</label>
									<input type="text" class="form-control inputText" id="realName" name="uname" th:value="${userinfos.uname}" readonly="readonly">
									<span style="color: red;">*</span>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="account">性别：</label>
									<select class="form-control" id="status" name="sex" th:field="*{userinfos.sex}">
										<option value="男">男</option>
										<option value="女">女</option>
										<option value="未知">未知</option>
									</select>
								<!-- 	<input type="radio" name="sex" value="男"/  readonly="readonly">男&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="sex" value="女"/  readonly="readonly">女&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="sex" value="未知"/  readonly="readonly">未知 -->
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="realName">年龄：</label>
									<input type="text" class="form-control inputText" id="age" name="age"  th:value="${userinfos.age}"  readonly="readonly">
									<span style="color: red;">*</span>
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="mobile">手机号：</label>
									<input type="text" class="form-control inputText" id="mobile" name="reid"  th:value="${userinfos.reid}"  readonly="readonly">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<!-- <label class="form-lavel" for="email">邮箱：</label>
									<input type="text" class="form-control inputText" id="email" name="email" value="123@123.com"> -->
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="birthday">生日：</label>
									<input type="text" class="form-control inputText" id="birthday" name="birthday" th:value="${userinfos.birthday}" placeholder="生日,如：01-12"  readonly="readonly">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="identity">身份证：</label>
									<input type="text" class="form-control inputText" id="identity" name="identitycard"  th:value="${userinfos.identitycard}"  readonly="readonly">
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="birthday">所属职位：</label>
									<select class="form-control" id="seid" name="spid" th:field="*{userinfos.spid}" disabled="disabled">
										<option value="1">总经理</option>
										<option value="2">部门经理</option>
										<option value="3">普通职员</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel">头像：</label>
										<!-- <input type="file" name="identitycard" style="display: inline-block;"  readonly="readonly">
										<img alt="" src="${headImg }" width="100" height="100"> -->
								</div>
							</div>
						</div>
						<div class="row rowDiv">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="entryTime">入职日期：</label>
									<input type="text" class="form-control inputText" id="entryTime" name="entrytime" th:value="${#dates.format(userinfos.entrytime,'yyyy-MM-dd HH:mm:ss')}"  placeholder="入职日期，如：2017-01-01"  readonly="readonly">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-lavel" for="status">员工状态：</label>
									<select class="form-control" id="status" name="seid" th:field="*{userinfos.seid}" disabled="disabled">
										<option value="1">试用期</option>
										<option value="2">转正</option>
										<option value="3">离职</option>
									</select>
								</div>
							</div>
						</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<input type="submit" class="btn btn-primary btn" value="返回" onclick="javascript:location.href='/system/userinfoByPage'"/>
									</div>
								</div>
							</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/user-info.js}"></script>
<script type="text/javascript">
	$(function(){
		var method = '${method}';
		if (method != 'update') {// 展示用户详情时，文本框禁止编辑
			var texts = $("#userInfoDiv input[type='text']");
			var selects = $("#userInfoDiv select");
			$.each(texts, function(){
				$(this).attr("readonly", true);
			});
			$.each(selects, function(){
				$(this).attr("readonly", true);
			});
		}
		
	});
</script>
</html>