
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<title>日程安排</title>

</head>
<body>
<div class="container" style="width: 100%;padding: 25px 15px;">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding: 20px;">
            <div style="float: left;">
                  <input type="button" class="btn btn-primary btn"  th:onclick="scheduleHTML(null,'add',[[${session.role}]])" value="添加" />
            </div>
             <form action="#" method="post" id="userForm" role="form" class="form-inline" style="float: right;margin-bottom: 10px;">
                <div class="form-group" style="margin-right: 20px;">
                     <label for="exampleInputEmail1" style="margin-right: 10px;">姓名</label><input type="text" class="form-control" id="realName" name="realName" placeholder="姓名" />
                </div>
                <span shiro:hasPermission="schedule:selectAll">
                <button type="button" class="btn btn-primary btn"  onclick="selectSchedule()">查询</button>
                </span>
                <span shiro:hasPermission="schedule:selectOne">
                <button type="button" class="btn btn-primary btn"  disabled="disabled">查询</button>
                </span>
            </form>
             <table class="table table-bordered" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="width: 150px;">姓名</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>事务类型</th>
                        <th>日程内容</th>
                        <th style="width: 150px;">操作</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr class="success" th:each="schedule:${page.beanlist}">
                        <td>[[${schedule.userinfo.uname}]]</td>
                        <td>[[${#dates.format(schedule.starttime,'yyyy-MM-dd HH:mm:ss')}]]</td>
                        <td>[[${#dates.format(schedule.endtime,'yyyy-MM-dd HH:mm:ss')}]]</td>
                        <td>[[${schedule.business.bname}]]</td>
                        <td>[[${schedule.agenda}]]</td>
                        <td>
                           <button th:if="${schedule.userinfo.uid} == ${session.uid}" class="btn btn-primary btn"  th:onclick="scheduleHTML([[${schedule}]],'update',[[${session.role}]])">修改</button>
                           <button  th:unless="${schedule.userinfo.uid} == ${session.uid}" class="btn btn-primary btn"  disabled="disabled">修改</button>
                           <button th:if="${schedule.userinfo.uid} == ${session.uid}" class="btn btn-primary btn"  th:onclick="delSchedule([[${schedule}]],[[${session.role}]])">删除</button>
                        <button  th:unless="${schedule.userinfo.uid} == ${session.uid}" class="btn btn-primary btn"  disabled="disabled">删除</button>
                        </td>
                        
                    </tr>
      
                    
                </tbody>
            </table>
            
         <span>共[[${page.totalRecord}]]条记录 共[[${page.totalPage}]]页 当前第[[${page.pageIndex}]]页</span>
            <!-- 分页 -->
            <ul class="pagination" style="float: right;margin: 0;">
            
                 <li><a  th:href="${page.url}+${1}">首页</a></li>
                <li><a  th:if="${page.pageIndex}>1" th:href="${page.url}+${page.pageIndex-1}">上一页</a></li> 
                 <li th:each="i:${#numbers.sequence(page.pageBegin,page.pageEnd)}">
                 		<span th:if="${page.pageIndex} == ${i}">
                 		[ [[${i}]] ]
                 		</span>
                 		<span th:unless="${page.pageIndex} == ${i} or ${page.pageEnd} == 0">
                 			<a th:href="${page.url}+${i}">[[${i}]]</a>
                 		</span>
            
                 </li>
                <li><a  th:if="${page.pageIndex}<${page.totalPage}" th:href="${page.url}+${page.pageIndex+1}">下一页</a></li>
                <li><a  th:href="${page.url}+${page.totalPage}">尾页</a></li>
            </ul>
        
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/schedule.js}"></script>
<script type="text/javascript" th:src="@{/js/laydate/laydate.js}"></script>
</html>