<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<title>工作计划</title>
</head>
<body>
<div class="container" style="width: 100%;padding: 25px 15px;">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding: 20px;">
            <div style="float: left;">
                  <input type="button" class="btn btn-primary btn"  value="添加"  th:onclick="workplanHTML('add',null)"/>
            </div>
             <form action="#" method="post" id="userForm" role="form" class="form-inline" style="float: right;margin-bottom: 10px;">
                <div class="form-group" style="margin-right: 20px;">
                     <label for="exampleInputEmail1" style="margin-right: 10px;">姓名</label><input type="text" class="form-control" id="realName" name="realName" placeholder="姓名" />
                </div>
                <button type="button" class="btn btn-primary btn"  onclick="selectworkplan()">查询</button>
            </form>
            <table class="table table-bordered" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="width: 150px;">姓名</th>
                        <th>本周工作总结</th>
                        <th>本周遇到的问题</th>
                        <th>下周工作计划</th>
                        <th style="width: 150px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success" th:each="work:${page.beanlist}">
                        <td>[[${work.userinfo.uname}]]</td>
                        <td>[[${work.weeksum}]]</td>
                        <td>[[${work.weekque}]]</td>
                        <td>[[${work.weekplan}]]</td>
                        <td>
                           <a class="btn btn-primary btn"  th:onclick="workplanHTML('update',[[${work}]])">修改</a>
                            <a href="#" class="del btn btn-primary btn" th:onclick="delworkplan([[${work}]])">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
             <span>共[[${page.totalRecord}]]条记录 共[[${page.totalPage}]]页 当前第[[${page.pageIndex}]]页</span>
            <!-- 分页 -->
            <ul class="pagination" style="float: right;margin: 0;">
            
                <li><a  th:href="${page.url}+${1}">首页</a></li>
                <li><a  th:if="${page.pageIndex}>1" th:href="${page.url}+${page.pageIndex-1}">上一页</a></li> 
                 <li th:each="i:${#numbers.sequence(page.pageBegin,page.pageEnd)}">
                 	
                 		<span th:if="${page.pageIndex} == ${i}">
                 		[ [[${i}]] ]
                 		</span>
                 		<span th:unless="${page.pageIndex} == ${i} or ${page.pageEnd} == 0">
                 			<a th:href="${page.url}+${i}">[[${i}]]</a>
                 		</span>
                 	
                 </li>
                <li><a  th:if="${page.pageIndex}<${page.totalPage}" th:href="${page.url}+${page.pageIndex+1}">下一页</a></li>
                <li><a  th:href="${page.url}+${page.totalPage}">尾页</a></li>
            </ul>
        </div>
    </div>
</div>

<form id="delForm" method="post">
	<input type="hidden" name="_method" value="deletePlan"/>
</form>

</body>
<script type="text/javascript" th:src="@{/js/jquery-2.2.3.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/work.js}"></script>
</html>